librosa>=0.6.1
# tensorflow>=1.9.0rc2
tensorflow==2.9.1
numpy>=1.14.0
matplotlib>=2.0.2
soundfile


TODO: Export conda env (probar en docker)

#sms tools dependencies https://github.com/MTG/sms-tools
sudo apt-get install python-dev ipython python-numpy python-matplotlib python-scipy cython

In OSX you can install these modules by typing in the Terminal:

$ pip install ipython numpy matplotlib scipy cython
